{% extends 'base.html' %}

{% block content %}
        <h1 class="home_title">Effortlessly Manage <br> and <br> Summarize Your Documents</h1>
        <p class="home_text">Whether you’re handling research papers, business reports, legal documents, or creative writing, our platform makes it effortless to upload, store, and manage your files. Our AI-powered summarization tool helps you save time by generating concise and accurate summaries, allowing you to quickly extract the most important information from any document.</p>
        <p class="home_text">With support for multiple file types, including PDF, DOCX, and TXT, you can upload documents from various sources with a simple click or drag-and-drop action. After uploading, the platform analyzes your document using state-of-the-art natural language processing technology to generate summaries that highlight key insights, saving you the effort of reading lengthy content.</p>
        <p class="home_text">Experience how easy and effective managing your documents can be. Upload your files, get quick insights, and stay organized—all in one place</p>
        <div class="home_button">
            <button class="button">Get started today</button>
        </div>
{% endblock %}