body{
    margin: 0;
    background-color: #A9BEB9;
    font-family: "Lora", serif;
}
.header{
   min-height: 100px;
   background-color: #F3E6DF;
   box-shadow: 0px 20px 40px gray;
   position: relative;
   display: flex;
}

.logo_img{
    padding-left: 40px;
    width: 75px;
    height: 75px;
}

.logo_title{
    margin: auto 0;
    padding-left: 20px;
    font-size: 40px;
    font-family: "Parisienne", serif;
}

.logo_container{
    display: flex;
    max-width: 532px;
    min-height: 100px;
}

.navigation_bar{
    margin: auto 0;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    display: flex;
    gap: 20px
}

a{
    margin: auto;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

h3{
    margin: auto 0;
    width: 220px;
    height: 75px;
    border-radius: 40px;
    text-align: center;
    background-color: #F3E6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.0s;

}

h3:hover{
    background-color: #E8C8C2;
}

h3.active {
    background-color: #E8C8C2;
}

.content{
    margin: 0px 370px 0px;
    min-width: 700px;
    height: 900px;
    background-color: #F3E6DF;
    text-align: center;
}

.home_title{
    margin: 0 auto;
    padding-top: 78px;
    max-width: 532px;
    max-height: 132px;
    font-size: 38px;
    width: 100%;

}

.home_text{
    margin: 0 auto;
    padding-top: 60px;
    max-width: 500px;
    font-size: 16px;
}

.home_button{
    padding-top: 60px;
}

.button{
    margin: 0 auto;
    width: 240px;
    height: 75px;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #E8C8C2;
    padding: 0px 0px;
    cursor: pointer;
    transition: background-color 1.0s;
    box-shadow: 0px 15px 20px gray;
}

.button:hover{
    background-color: #E3AFA6;
}

.upload_title{
    margin: 0px;
    padding-top: 115px;
    font-size: 40px;
}

.upload_text{
    margin: 0px;
    padding-top: 65px;
    font-size: 16px;
}

.upload_content{
    margin: 80px auto;
    width: 600px;
    height: 370px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.upload_content_title{
    padding-top: 50px;
    font-size: 26px;
    font-weight: normal;
}

.add_file{
    padding: 10px 0px;
}

.add_file:before{
    margin: 0 auto 10px;
    content: '';
    width: 460px;
    height: 1px;
    background-color: #000000;
    display: block;
}

.add_file:after{
    margin: 10px auto 0;
    content: '';
    width: 460px;
    height: 1px;
    background-color: #000000;
    display: block;
}

.upload_content_text{
    font-size: 12px;
    padding-bottom: 20px;
}

input[type="file"]{
    display: none;
}

.custom_file_upload{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 40px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background 1.0s;
}

.custom_file_upload:hover{
    color: black;
}

.custom_file_upload.file-selected {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
